:root {
    --color-lvl1: #e9e9e9;
    --color-lvl2: #bdbdbd;
    --color-lvl3: #a7a7a7;
    --color-lvl4: #7a7a7a;
    --color-lvl5: Black;
}

/* for 'path' classes
    path:nth-child(2) is for edge line
    path:nth-child(3) is for edge arrow
*/
.path-lvl1 > path:nth-child(2) {
    stroke: var(--color-lvl1);
    stroke-width: 2px;
}

.path-lvl1 > path:nth-child(3) {
    stroke: var(--color-lvl1);
    fill: var(--color-lvl1);
}

.bpmn-type-event:hover, .bpmn-type-gateway:hover, .bpmn-type-activity:hover {
    cursor: pointer;
}

/* ------------------------------------------------ DISABLE EVERYTHING ------------------------------------------------ */
/* SHAPE & EDGE */
.disableAll.bpmn-type-activity > *,
.disableAll.bpmn-type-event > *,
.disableAll.bpmn-type-gateway > *,
.disableAll.bpmn-type-flow > * {
    stroke: Silver;
}

/* ICON */
.disableAll.bpmn-type-gateway > path:nth-child(2), .disableAll.bpmn-type-flow > path:nth-child(3) {
    fill: Silver;
}

/* LABEL */
.disableAll.bpmn-type-activity > g > foreignObject > div > div > div,
.disableAll.bpmn-type-event > g > foreignObject > div > div > div,
.disableAll.bpmn-type-gateway > g > foreignObject > div > div > div,
.disableAll.bpmn-type-flow > g > foreignObject > div > div > div {
    color: Silver !important;
}

/* ------------------------------------------------ HIGHLIGHT ------------------------------------------------ */
/* SHAPE */
.highlight.bpmn-type-activity > rect:first-child,
.highlight.bpmn-type-event > ellipse:first-child,
.highlight.bpmn-type-gateway > path:first-child {
    stroke: LightSeaGreen;
    filter: drop-shadow(0 0 0.75rem LightSeaGreen);
}

/* ICON */
.highlight.bpmn-type-gateway > :not(:first-child) {
    stroke: LightSeaGreen;
}

.highlight.bpmn-type-gateway > path:nth-child(2) {
    fill: LightSeaGreen;
}

