package-lock=false
# npm ERR! Found: @angular-devkit/build-angular@14.2.8
#  npm ERR! node_modules/@angular-devkit/build-angular
#  npm ERR!   dev @angular-devkit/build-angular@"~15.2.0" from the root project
#  npm ERR!
#  npm ERR! Could not resolve dependency:
#  npm ERR! dev @angular-devkit/build-angular@"~15.2.0" from the root project
#  npm ERR!
#  npm ERR! Conflicting peer dependency: @angular/compiler-cli@15.2.0
#  npm ERR! node_modules/@angular/compiler-cli
#  npm ERR!   peer @angular/compiler-cli@"^15.0.0" from @angular-devkit/build-angular@15.2.0
#  npm ERR!   node_modules/@angular-devkit/build-angular
#  npm ERR!     dev @angular-devkit/build-angular@"~15.2.0" from the root project
legacy-peer-deps=true
