/* main styles */
:root {
    --primary: #5755d9;

    --border: #CDD9ED;
    --border-hover: #99A3BA;
    --text-color: #6C7486;
    --text-color-headline: #3F4656;

    --shadow: rgba(22, 30, 50, .04);
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
        scroll-behavior: smooth;
    }
}
.lib-name-text {
    text-shadow: 1px 1px black;
}
img.logo {
    max-height: 40px;
}
div.card {
    min-height: 430px;
}
.mt-40 {
    margin-top: 4rem;
}
.mb-5 {
    margin-bottom: 1rem;
}
.icon-in-the-middle:before, .icon-in-the-middle:after {
    top: 40%;
}
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100; /* ensure the BPMN Diagrams are under the navbar when scrolling */
}
.navbar a.home:link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.lib-name-text {
    line-height: 100%;
}
