.lib-name-text {
    text-shadow: 1px 1px black;
}
img.logo {
    max-height: 40px;
}
div.card {
    min-height: 430px;
}
.mt-40 {
    margin-top: 4rem;
}
.icon-in-the-middle:before, .icon-in-the-middle:after {
    top: 40%;
}
