html {
    scroll-behavior: smooth;
}
.lib-name-text {
    text-shadow: 1px 1px black;
}
img.logo {
    max-height: 40px;
}
div.card {
    min-height: 460px;
}
.mt-40 {
    margin-top: 4rem;
}
.icon-in-the-middle:before, .icon-in-the-middle:after {
    top: 40%;
}
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 100; /* ensure the BPMN Diagrams are under the navbar when scrolling */
}
