body {
    font-family: monospace;
}
.info-centered {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}
