body {
    font-family: monospace;
}
.info-centered {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}

.bpmn-highlight.bpmn-task  > rect {
    fill: pink;
    fill-opacity: 30%;
    stroke: coral;
}
.bpmn-highlight.bpmn-task >rect:hover {
    fill-opacity: 70%;
}
