#legend {
    margin: auto;
    width: 150px;
}

#legend label {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

#legend chart {
    width: 40px;
    height: 110px;
    margin-right: 0;
    margin-top: 15px;
}

#legend chart.color {
    margin-bottom: 0;
}

#legend guide-y .tick {
    border-bottom-width: 2px;
    border-bottom-color: inherit;
}

#legend guide-y .tick .label {
    width: 80px;
    color: inherit;
}

#legend guide-y.left {
    border-right: none;
}

#legend guide-y.left .tick .label {
    background: none;
    color: inherit;
}

#legend bar {
    position: absolute;
    margin: 0;
    border: none;
}