#controls {
    border-radius: .5rem;
}
#controls div {
    display: flex;
    justify-content: center;
}
#controls h5 {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    float: left;
}

#controls input[type=radio] {
    margin-top: auto;
    margin-bottom: auto;
}

#controls input[type=text] {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.2rem;
    transition: box-shadow 300ms;
    text-align: center;
}

#controls input[type=text]:focus {
    outline: none;
    box-shadow: 0.1rem 0.2rem 0.5rem var(--primary);
}