#use-case-panel {
    border-style: solid;
    border-color: #303742;
    border-width: thick;
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .8rem;
}

#use-case-panel h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}