name: Check TypeScript projects
on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/check-typescript-projects.yml'
      - 'projects/typescript-angular/**/*'
      - 'projects/typescript-vanilla-with-parcel/**/*'
      - 'projects/typescript-vanilla-with-rollup/**/*'
      - 'projects/typescript-vanilla-with-vitejs/**/*'
  # TODO exclude md files
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/check-typescript-projects.yml'
      - 'projects/typescript-angular/**/*'
      - 'projects/typescript-vanilla-with-parcel/**/*'
      - 'projects/typescript-vanilla-with-rollup/**/*'
      - 'projects/typescript-vanilla-with-vitejs/**/*'
# TODO exclude md files

jobs:
  build_bpmn-visualization_development_npm_package:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'process-analytics/bpmn-visualization-js'
          ref: 'master'
      - name: Build Setup
        uses: ./.github/actions/build-setup
      - name: Build npm package
        run: npm pack
      - name: Upload npm package
        uses: actions/upload-artifact@v3
        with:
          name: bpmn-visualization-npm-package
          path: bpmn-visualization-*.tgz

  build_projects:
    runs-on: ubuntu-20.04
    needs: 'build_bpmn-visualization_development_npm_package'
    strategy:
      # don't cancel running jobs even if one fails
      fail-fast: false
      matrix:
        project: [ typescript-angular, typescript-vanilla-with-parcel, typescript-vanilla-with-rollup, typescript-vanilla-with-vitejs ]
        bv-npm-package: [ 'release', 'development' ]
    defaults:
      run:
        working-directory: ${{github.workspace}}/projects/${{matrix.project}}
    steps:
      - name: Download the bpmn-visualization development npm package
        id: 'download'
        uses: actions/download-artifact@v3
        with:
          name: bpmn-visualization-npm-package
          path: ${{github.workspace}}/../bpmn-visualization-npm-package
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Install bpmn-visualization development npm package
        if: ${{ matrix.bv-npm-package == 'development' }}
        # use wildcard as the file contains the version, and we don't know it
        run: npm install ${{steps.download.outputs.download-path}}/bpmn-visualization*.tgz
      - name: Build project
        run: npm run build
      - name: Upload project archive
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v3
        with:
          name: ${{matrix.project}}-${{matrix.bv-npm-package}}
          path: ${{github.workspace}}/projects/${{matrix.project}}/dist

  #TODO create an issue in bonitasoft/actions/packages/surge-preview-tools
  # WARN: use a short job-id to ensure the surge.sh subdomain is valid i.e. up to 63 characters (the surge-preview action includes the job-id in the generated surge domain)
  # For instance, using 'publish_pr_preview' would create the "process-analytics-bpmn-visualization-examples-publish_pr_preview-pr-438" subdomain
  # This subdomain is 71 characters long
  pr_preview:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-20.04
    needs: 'build_projects'
    permissions:
      pull-requests: write # surge-preview: PR comments
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v3
        with:
          path: tmp
      - name: Display structure of downloaded files
        run: ls -lhR
        working-directory: tmp
      - name: Build the final directories layout
        run: |
          mkdir -p build/development build/release
          cp -R tmp/*-development build/development
          cp -R tmp/*-release build/release
          # remove the '-development' and '-release' postfixes from directory names
          for element in build/development/*-development; do
            mv "$element" "${element%-development}"
          done
          for element in build/release/*-release; do
            mv "$element" "${element%-release}"
          done
      - name: List projects that will be referenced in the home page
        id: list_projects
        run: |
          # for the ls option, see https://serverfault.com/a/1095912
          echo "projects_development=$(ls -xw0 build/development/)" >> $GITHUB_OUTPUT
          echo "projects_release=$(ls -xw0 build/release/)" >> $GITHUB_OUTPUT
      # TODO create an index page and list all built projects (split list 'release' and 'development' + mention the PR number)
      - name: Create the home page v1
        run: |
          touch build/index0.html
          echo "TypeScript projects for PR#${{github.event.pull_request.number}}" >> build/index0.html
      - name: Create the home page
        uses: actions/github-script@v6
        env:
          PR_NUMBER: ${{github.event.pull_request.number}}
          PROJECTS_DEVELOPMENT: ${{ steps.list_projects.outputs.projects_development }}
          PROJECTS_RELEASE: ${{ steps.list_projects.outputs.projects_release }}
        with:
          script: |
            const {PR_NUMBER, PROJECTS_DEVELOPMENT, PROJECTS_RELEASE} = process.env;
            let htmlContent = `<!DOCTYPE html>
            <html lang="en">
            <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>TypeScript projects for PR #@PR_NUMBER@</title>
            </head>
            <body>
            <h1>TypeScript projects for PR #@PR_NUMBER@</h1>
            <p>
            Projects built using the <a href="https://github.com/process-analytics/bpmn-visualization-js/releases/latest" target="_blank">latest released version</a> of <code>bpmn-visualization</code>
            <ul>
            @release_projects@
            </ul>
            <p>
            Projects built using the <a href="https://github.com/process-analytics/bpmn-visualization-js/" target="_blank">development version</a> of <code>bpmn-visualization</code>
            <ul>
            @development_projects@
            </ul>
            </body>
            </html>
            `
            htmlContent = htmlContent.replace('@PR_NUMBER@', PR_NUMBER);
            htmlContent = htmlContent.replace('@release_projects@', PROJECTS_RELEASE.split(' ').map(name => `<li><a href="release/${name}/index.html" target="_blank">${name}</a></li>`).join('\n'));
            htmlContent = htmlContent.replace('@development_projects@', PROJECTS_DEVELOPMENT.split(' ').map(name => `<li><a href="release/${name}/index.html" target="_blank">${name}</a></li>`).join('\n'));
            console.info('Generated page', htmlContent);
            // Create the file
            require('fs').writeFileSync('build/index.html', htmlContent);
      - name: Display the final structure of files
        run: |
          ls -lhR build
      # TODO rollup terser: too large bundle: 2.7Mb (use terser plugin) + bump rollup dependencies (including migration to rollup@3)
      - uses: bonitasoft/actions/packages/surge-preview-tools@v2
        id: surge-preview-tools
        with:
          surge-token: ${{ secrets.SURGE_TOKEN }}
      - name: Manage surge preview
        if: steps.surge-preview-tools.outputs.can-run-surge-command == 'true'
        uses: afc163/surge-preview@v1
        with:
          surge_token: ${{ secrets.SURGE_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dist: build
          failOnError: true
          # TODO explain why we are not handling teardown here (dependencies on other jobs + schedule workflows at organization level in charge of tearing down the old surge domains)
          teardown: 'false'
          build: echo 'Already built!'
      # Fallback when it is not possible to deploy to surge.sh
      - name: Upload artifact (preview not deployed)
        # TODO only if not deploy to surge.sh
        #        if: steps.surge-preview-tools.outputs.can-run-surge-command == 'false'
        uses: actions/upload-artifact@v3
        with:
          name: all-typescript-projects-${{github.sha}}
          path: build
